# Salin menjadi web/.env.local. JANGAN commit.
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
NEXT_PUBLIC_BOT_USERNAME=        # untuk membangun deep link download (tanpa @)
BOT_TOKEN=                       # untuk fitur upload dari Bot
STORAGE_CHANNEL_ID=              # untuk fitur upload dari Bot (ID channel privat)
